.example{
    
    height: 300px !important;
    width: 100vw !important;
    
    }

.jumbo {
    text-align:center;
    
    width: fit-content;
    display: inline-block;
    margin-top: 20px;
    font-size: 38px;
    vertical-align: middle;
    padding: 10px;
    background-color: transparent;
 
}

.intro{
    position: relative;
    color: #00d1b2;
    vertical-align: middle;
    z-index: 1000 !important;
}
.intro2{

    margin: 0 auto;
    position: relative;
    color: #304160;
    font-size: 30px;
    z-index: 1000 !important;

}
    



